*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem ;
}

body{
    background: #ffffff;
    color: #fff;
}

header{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #000;
    padding: 15px 6%;
}

.group_name{
    text-decoration: none;
    font-size: 30px;
    flex: 1;
}

.navbar_list{
    display: flex;
}

.navbar_list li{
    padding: 10px 20px;
    position: relative;
}

.navbar_list a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.navbar_list a::after{
    content: "";
    position: absolute;
    background: #0456ef;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    transition: ease .30s;
}

.navbar_list li a:hover:after{
    width: 100%;
}

.home{
    height: 100vh;
    width: 100%;
    background: url(img/background.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    padding: 120px 16%;
}

.home h1{
    font-size: 5rem;
}

.home h4{
    font-size: 3rem ;
}

.personal_info,.group_process, .career_plan, .career_plan{
    padding: 120px 16%;
    background: #f9f9f9;
}

.heading{
    color: black;
    text-align: center;
    font-size: 30px;
}

.heading h5{
    font-size: 20px;
    font-weight:  400;
}

.personal_info-content{
    color: black;
    display: inline-grid;
    grid-template-columns: repeat(2,minmax(370px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.0rem;
    width: 100%;
    grid-row: 1/ span 2
}

.box{
    color:#0456ef;
    font-size: 2.8rem;
    margin-bottom: 18px;
    background: #ffffff;
    cursor: pointer;
    transition: all .35s;
    border-radius: 5px;
    padding: 45px 30px;
    display: inline-flex;
    max-width: 600px;
    max-height: 600px;
    flex-direction: column;
}

.box h4{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.box h5{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 15px;
}

.box p{
    font-size: 16px;
    color: black;
    text-align: justify;
}

.box:hover{
    box-shadow: 0px 30px 30px rgb(55 7 23 /7%);
}


/*--------Group Processes ----------*/
.row{
    display:block;
    color: black;
    padding: 20px 10px;
    margin: 20px 10px;
    background: #ffffff;
    border-radius: 10px;
    transition: all .30s;
}

.row h4{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #0456ef;
}

.row p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.row:hover{
    transform: translateX(5px);
    border-left: 10px solid #0456ef;
}

.career_plan-desc{
    display: flex;
    align-items: center;
}

.career_plan-desc h5{
    margin: 0 30px;
}

.career_row{
    display:block;
    color: black;
    padding: 20px 10px;
    margin: 20px 10px;
    background: #ffffff;
    border-radius: 10px;
    transition: all .30s;
    border-radius: 10px;
    transition: .30s ease;
}

.career_plan-desc p{
    flex: 1;
    margin-bottom: 20px;
}

.career_plan-info{
    margin-bottom: 20px;
}

.career_row:hover{
    cursor: pointer;
    transform: translateX(5px);
}

.career_row h4{
    color:#0456ef;
}